/*-------------------- ОБЩИЕ СТИЛИ --------------------*/
* {
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
}

/*  SCREEN */
.screen {
    cursor: default;
    height: 950px;
    min-width: 1200px;
    overflow: auto;
}
@media (max-width: 1440px) {
    .screen {
        height: 840px;
        min-width: 1200px;
    }
}

/* NAVIGATION */
.circle {
    padding: 0px 0px 20px 0px;
}

.circle > img {
    cursor: pointer;
}

.scroll-circles {
    position: fixed;
    right: 20px;
    top: 40%;
    z-index: 1;
}

@media (max-width: 1200px) {
    .scroll-circles {
        left: 35px;
    }
}



/* MAIN */
.main-container {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.arrow {
    padding-top: 20px;
}

@media (max-width: 1440px) {
    .arrow {
        padding-top: 10px;
    }
}

@media (max-width: 1440px) {
    .greeting {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

/* hang effect for arrow */
@-webkit-keyframes hvr-hang {
    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}
@keyframes hvr-hang {
    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}
@-webkit-keyframes hvr-hang-sink {
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}
@keyframes hvr-hang-sink {
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}
.hvr-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    cursor: pointer;
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

/*  РАСПОЛОЖЕНИЕ ИКОНОК СОЦ СЕТЕЙ */
.icons {
    max-width: 250px;
    min-width: 250px;
    padding-top: 200px;
}

@media (max-width: 1440px) {
    .icons {
        padding-top: 100px;
    }
}

.icon {
    padding: 50px 0px 0px;
}

div.icon > img {
    cursor: pointer;
}
/*  COPYRIGHT */
.copyright {
    font-size: 12px;
    padding-top: 10px;
}